@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@503&display=swap");

* {
  font-family: "Arimo", sans-serif;
  background-color: darkturquoise;
}

.search {
  appearance: none;
  padding: 15px;
  width: 300px;
  border: none;
  outline: none;
  background-color: seashell;
  border-radius: 0px 0px 16px 16px;
}

.datas-cont {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 200px;
  text-align: center;
  max-width: auto;
  border: 2px wheat solid;
  padding-top: 50px;
  border-radius: 16px;
  box-shadow: 5px 8px wheat;
}
